%nav.navbar.navbar-light.navbar-fixed-top.bg-faded
  .container
    = link_to "Checksum Generator", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.pull-right
      - if current_user.blank?
        %li.nav-item
          = link_to "Sign In / Sign Up", new_user_session_path(), class: "nav-link"
      - if current_user.present?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            = current_user.email
          .dropdown-menu
            = link_to "Profile", edit_user_registration_path(), class: "dropdown-item"
            = link_to "Sign out", destroy_user_session_path(), method: :delete, class: "dropdown-item"
